<ion-view>
    <ion-content class="servicePasswordBind">
        <button class="button button-full button-positive topTips">
            用户您好，欢迎光临粉丝俱乐部！请先绑定账号
        </button>
        <div class="list" ng-form="form">
            <label class="item item-input">
                <input type="text" ng-model="obj.phoneNum" ng-maxlength="11" ng-minLength="11" placeholder="请输入您的手机号码" required>
            </label>
            <label class="item item-input">
                <input type="text" ng-model="obj.servicePassword" placeholder="请输入您的服务密码" required>
            </label>
        </div>
        <button class="button button-block bindButton" ng-disabled="form.$invalid" ng-click="bind()">
            绑 定
        </button>
        
         <a ng-click="goValidationPage()">
            <label class="tipLable">使用短信验证码进行绑定</label>
        </a>
    </ion-content>
</ion-view>
