<ion-view>
    <ion-content class="test">
        <!--   <img ngf-src="data.file || data.defaultImage" class="img-responsive" style="width:200px; height: 200px; max-width:500px;" />
        <div class="button" ngf-select ng-model="data.file" name="file" ngf-pattern="'image/*'" ngf-multiple="false" >
            选择文件
        </div> -->
        <!--  <div id="top_wrap">
            <div id="goDownload">
                <div class="back_godownload"></div>
                <img src="../img/btn_close.png" class="close_godownload">
                <img src="../img/img_logo.png" class="logo_godownload">
                <span class="name_godownload">和小宝</span>
                <span class="subname_godownload">四川移动旗下特色电商平台，<br>汇聚全川好吃尖货</span>
                <a href="http://hxbh5.vpclub.cn/hxb/download.html">
                    <div class="goDownloadButton"> 下载 </div>
                </a>
            </div>
            <img id="backButton" src="../img/chinaMobile.png">
            <img id="cartButton" src="../img/chinaMobile.png">
        </div> -->
        <div class="layer_hint">
            <div class="head">
                <img src="/Content/Lottery/images/cry.png">
            </div>
            <div class="msg">
                <p>主人，本活动仅限四川移动用户参与哦！</p>
            </div>
            <div class="flow">
                <a href="javascript:hideMsg()">确定</a>
            </div>
            <div class="closeBtn">
                <img src="">
            </div>
        </div>
    </ion-content>
</ion-view>
